<header id="app-header" class="row">
  <div id="profile-container" class="col-md-12">
    <img id="profile-img" src="assets/images/Profile.jpg" />
  </div>
  <div id="profile-banner" class="col-md-12">
    <h1 id="title">C h a r l i e . T r a n</h1>
    <h3 id="subtitle">Software Engineer</h3>
  </div>
  <div id="profile-icons" class="col-xs-12 col-sm-12">
    <a href="https://www.linkedin.com/in/charlie-tran">
      <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/cptran777">
      <i class="fa fa-github-square fa-5x" aria-hidden="true"></i>
    </a>
  </div>
  <nav id="profile-nav" class="col-md-12">
    Navigation links here
    <div class="row">
      <div class="col-sm-12 col-md-4" {{action "goTo" "index"}}>Link to Home</div>
      <div class="col-sm-12 col-md-4" {{action "goTo" "portfolio"}}>Link to Porfolio</div>
      <div class="col-sm-12 col-md-4" {{action "goTo" "interests"}}>Link to Interests</div>
    </div>
  </nav>
This is the headers
</header>