<div class="row icon-row">
  <div class="col-sm-6 col-md-2 icon-container">
    <img src="assets/images/logo-js.png" class="icon-img" />
  </div>
  <div class="col-sm-6 col-md-2 icon-container">
    <img src="assets/images/logo-js.png" class="icon-img" />
  </div>
  <div class="col-sm-6 col-md-2 icon-container">
    <img src="assets/images/logo-js.png" class="icon-img" />
  </div>
  <div class="col-sm-6 col-md-2 icon-container">
    <img src="assets/images/logo-js.png" class="icon-img" />
  </div>
  <div class="col-sm-6 col-md-2 icon-container">
    <img src="assets/images/logo-js.png" class="icon-img" />
  </div>
  <div class="col-sm-6 col-md-2 icon-container">
    <img src="assets/images/logo-js.png" class="icon-img" />
  </div>
</div>
