<div class={{if expandProjects "content-box hide" 
  (if expandSkills "col-xs-12 col-sm-12 col-md-12 content-box" "col-xs-12 col-sm-12 col-md-6 content-box")}}
  {{action "toggleSkills"}}>
  Skills Box
</div>
<div class={{if expandSkills "content-box hide" 
  (if expandProjects "col-xs-12 col-sm-12 col-md-12 content-box" "col-xs-12 col-sm-12 col-md-6 content-box")}}
  {{action "toggleProjects"}}>
  Projects Box
</div>
