/* Styling for general elements that appear in the body as an overall 
*  container or throughout the body in many components */

#app-body {

  height: 100%;
  overflow: auto;
  
}

.content-section {
  padding: 2% 2% 2% 2%;
}

.content-box {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  padding: 1% 10% 1% 10%;
}

@import "body-components";