/* Contains the styling for the overall application container */

/* Basic Implementation of containing the application within the specified window size */
html, body, .ember-application > .ember-view, #app-container, #app-inner-container {
  height: 100%;
  width: 100%;
}

html {
  #app-container {
    padding: 0 0 0 0;

    #app-inner-container {
      margin: 0 0 0 0;
    }
    
  }
}

.hide {
  display: none;
}