/* Contains the styling for the top banner in the application */

@import 'util/variables';

.header-container {

  height: 100%;
  overflow: auto;
  background-color: rgba(1, 56, 83, 0.8);

  header {
    color: $base-color;

    padding-top: 5%;

    #profile-container, #profile-banner, #profile-icons {
      text-align: center;
    }

    #profile-container {

      #profile-img {
        border-radius: 50%;
        border: 10px outset #def;
      }
    }

    #profile-banner {

      #title {
        font-size: 2vw;
      }
    }

    #profile-icons {

      a {
        color: $base-color;
      }

      a:hover {
        color: #7b8184;
      }

    }

    #profile-nav {

      .nav-button {
        border-radius: 10px;
        background-color: $base-color;
        padding: 2% 2% 2% 2%;
        margin: 1% 4% 1% 4%;
        text-align: center;

        a {
          color: #4e6a78;
          text-decoration: none;
        }

      }

      .nav-button:hover {
        background-color: #4e6a78;
        font-weight: bold;

        a {
          color: $base-color;
        }
      }

    }
  }

}