/* Contains the styling for the top banner in the application */
$base-color: white;

.header-container {

  height: 100%;
  overflow: auto;
  background-color: rgba(150, 210, 210, 0.8);

  header {
    color: $base-color;

    padding-top: 5%;

    #profile-container, #profile-banner, #profile-icons {
      text-align: center;
    }

    #profile-container {

      #profile-img {
        border-radius: 50%;
        border: 10px outset #def;
      }
    }

    #profile-banner {

      #title {
        font-size: 2vw;
      }
    }

    #profile-nav {

      .nav-button {
        border-radius: 10px;
        background-color: red;
        padding: 2% 2% 2% 2%;
        margin: 1% 4% 1% 4%;
        text-align: center;
      }

      .nav-button a {
        color: $base-color;
        text-decoration: none;
      }

      .nav-button:hover {
        background-color: blue;
        font-weight: bold;
      }

    }
  }

}