<div id="app-container" class="container-fluid">
  <header id="app-header" class="row">This is the header</header>
  <main id="app-body" class="row">
    {{outlet}}
  </main>
  <footer id="app-footer" class="row">This is the footer</footer>
</div>