<div class="row content-section">
  Title image
</div>
<div class="row content-section">
  Summary section
</div>
{{index-tech class="row content-section"}}
{{index-interests class="row content-section"}}
<div class="row content-section">
  Personal site details
</div>