<div class="row content-section">
  Title image
</div>
<div class="row content-section">
  <div id="summary-section" class="col-md-12">
    {{my-card class="card" title="About Me" source="assets/images/summary-img.jpg"}}
  </div>
</div>
{{index-tech class="row content-section"}}
{{index-interests class="row content-section"}}
<div class="row content-section">
  Personal site details
</div>